/app/config/parameters.yml
!.gitignore
/build/
/phpunit.xml
/var/*
!/var/admin
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!/node_modules
/node_modules/*
!/bower_components
/bower_components/*
.idea
.DS_Store
!/web/dist
/web/dist/*
composer.lock
/yarn-error.log
/bash.exe.stackdump
/web/curltest/output/*.wav
/media/cache/quad_180/*.jpg
/npm-debug.log
/media/cache/profile_image_quad_150/*.jpg
/web/library/previews/*.wav
/web/images/news/*.jpg
/web/images/references/*.jpg
app/Resources/js/components/Global/TestSineWave/TestSineWave.js
app/Resources/js/components/Global/TestSineWave/TestSineWave.scss
/export-audio.csv
/export-tones.csv
/soundlib
/app/Resources/js/globals.js
/web/info.php
/web/robots.txt
/web/.htaccess
/var/admin/database-csv-import-log/*.log
/var/admin/database-csv-export/*.csv
/var/admin/track-statistic-export/*.csv
/var/admin/*.id
/hashes.yml
/var/admin/csv-import-log/*.log
/uploads
/web/library/therapies
